<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SMS Broadcast</title>
	<link rel="stylesheet" href="/css/login.css">
	

</head>

<body>
	<div class="container">
		<h1>Welcome to SMS Broadcast</h1>

		<div class="options">

			<button id="toggleFormButton" class="button"> TO Send SMS</button>

			<!-- Form section with an ID for toggling -->
			<!-- <div id="send-sms" class="card"> -->
			<div class="modal" id="smsModal">
				<div class="modal-content">
					<span class="close">&times;</span>
					<form th:action="@{/send-sms}" method="post">
						<h3>Add Mobile Numbers and Message</h3>
						<label for="numbers">Mobile Numbers:</label>
						<input type="tel" id="phoneNumber" name="phoneNumber" placeholder="+911234567899" required>
						<br>
						<label for="message">Message:</label>
						<textarea id="message" name="message" placeholder="Enter message here" required></textarea>
						<br>
						<label for="campaign">Select Campaign:</label>
						       <select itemtype="text" id="campaign" name="campaign" required>
						           <option value="" disabled selected>Select Campaign</option>
						           <option value="Promotional">Promotional</option>
						           <option value="Transactional">Transactional</option>
						           <option value="Reminder">Reminder</option>
						           <option value="Feedback">Feedback</option>
						           <option value="Event Notification">Event Notification</option>
						           <option value="Customer Engagement">Customer Engagement</option>
						       </select>
						       <br>

						<div id="schedule-options">
							<label for="scheduleDate">Choose a date:</label>
							<input type="date" id="scheduleDate" name="scheduleDate">

							<label for="scheduleTime">Choose a time:</label>
							<input type="time" id="scheduleTime" name="scheduleTime">

						</div>
						<div class="buttonn-group">
							<button type="button" id="scheduleButton" class="buttonn">Schedule</button>
							<button type="submit" class="buttonn">Send SMS</button>
						</div>

					</form>
				</div>
			</div>
			<!-- Button to view SMS status -->
			<form id="viewbutton" action="/sms-status" method="get">
				<button type="submit" class="button">View SMS Status</button>
			</form>


			<form id="viewbuttonn" action="/sendall" >
				<button type="submit" class="button">Broadcast Message</button>
			</form>




		</div>
		<!-- Button to toggle the form visibility -->
	</div>
	<script src="/js/main.js">
		
		
		/*
	   document.getElementById('toggleFormButton').addEventListener('click', function() {
			var form = document.getElementById('send-sms');
			if (form.style.display === 'none' ) {
				form.style.display = 'block';
			} else {
				form.style.display = 'none';
			}
		});
		*/
/*
		var modal = document.getElementById("smsModal");
		var btn = document.getElementById("toggleFormButton");
		var span = document.getElementsByClassName("close")[0];

		btn.onclick = function () {
			modal.style.display = "block";
		}

		span.onclick = function () {
			modal.style.display = "none";
		}

		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}





		document.getElementById('scheduleButton').addEventListener('click', function () {
			var scheduleOptions = document.getElementById('schedule-options');
			if (scheduleOptions.style.display === 'none') {
				scheduleOptions.style.display = 'block';
			} else {
				scheduleOptions.style.display = 'none';
			}
		});

*/

	</script>
</body>

</html>